@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@400;600&family=Signika:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/ColoredShapes.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

body::-webkit-scrollbar {
  background: #0c2744;
  width: .5em;
}

body::-webkit-scrollbar-thumb {
  background: #113c6b;
  border-radius: 5px;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, a:hover, a:active {
  color: #fff;
}